.container {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  padding-left: 12em;
  padding-top: 8em;
}

.inner-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 400px;
}

.title {
  color: #000;
}

.desc{

}

.gradient {
  background: -webkit-linear-gradient(#0047aa, #0085b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons {
    display: flex;
    gap: 2em;
    width: 100%;
}
