.title {
    font-size: 1.5rem;
    display: 'flex';
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(#0047AA, #0085B6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .container{
    display: flex;
    justify-content: flex-start;
    width: 90%;
  }
  
  .inner-container{
    width: 90%;
    display: flex;
    flex-direction: column;
  }